.crosshairs-1{
    position: absolute;
    right:5.5%;
    top:15vh;
    transform-origin: top right;
    transform: scale(0.7);
    @media (max-width:960px) {
        transform: scale(0.45);
    }

    @media (max-width:620px) {
        display: none;
    }
}